.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 25%;
}
.nav-bar li{
    display:inline-block;
    list-style-type: none;
    padding: 8px 10px;
}
.nav-bar-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFD600;
    padding: 20px;
}
.nav-bar-2 button{
    border-radius: 7px;

}
.nav-bar-2 input{
    border-radius: 7px;
}
.lego-wars{
    /* color: white; */
    /* background-color: black; */
    padding: 0px 12px;
    height: 20vh;
    /* margin-top: -2%; */
}
.lego-wars p1{
    margin-left: 45%;
    font-family: fantasy;
}
.lego-wars img{
    margin-left: 45%;
    width: 5%;
    margin-bottom: 35%;
    padding: 0px 0px 0px 10px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div{
    background-color: #26004C;
    color: white;
    padding: 2px 15px;
    border-radius: 5px;
    
}
.footer-inside i{
    color: white;
}
.footer-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.available{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.image-side{
}
.image-side img{
    width: 60%;
}
.content-side{
    margin-left: 6%;
}
.button-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-icon  p{
    margin-right: 60%;
}
.button-icon p{
    margin-top: 4%;
    margin-right: 80%;
}
.operands{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button{
    padding: 7px 12px;
    border-radius: 7px;
    /* width: 25%; */
}
.icons-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons-div p{
    margin-bottom: 3%;
}
.below-images{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.below-images img{
    width: 3%;
    margin-left: 5%;
}
.below-images i{
    margin-left: 7%;
    border: solid;
    border-color: #FFD600;
    color: #FFD600;
    border-radius: 20px;
    width: 2%;
    padding: 7px 7px;
}
.button-div{
    display: flex;
    flex-direction: row;
    margin-left: 35%; 
}
.button-div button{
    margin-right: 10%;
    padding: 10px 14px;
    border-radius: 7px;
}
.about-button{
    background-color: #FFD600;
    color: white;
    border-color: #FFD600;
}
.paragraph{
    margin-left: 27%;
}
.function{
    margin-left: 40%;
}
.images-div2{
    margin-left: 27%;
}
.images-div2 img{
    width: 20%;
    border: solid;
    border-color: #FFD600;
    border-radius: 12px;
    margin-right: 5%;
    padding: 18px;
}
.images-div3 {
    margin-left: 38%;
}
.images-div3 img{
    width: 20%;
    width: 20%;
    border: solid;
    border-color: #FFD600;
    border-radius: 12px;
    padding: 18px;
}
.interest{
    margin-left: 32%;
}
.inner-div{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.inner-div img{
    width: 40%;
}
.button-heart{
    margin-left: 5%;
    /* background-color: #FFD600; */   
}
.button-heart i{
    margin-left: 20%;
    color: white;
    background-color: #FFD600;
    border-radius: 35%;
}
.button-heart button{
    border-radius: 18%;
    background-color: #E70062;
    border-color: #E70062;
    color: white;
}
i {
    color: #FFD600;
}