@media (min-width: 600px) and (max-width: 768px) {
    body {
        background-color: whitesmoke;
        margin: 10%;
        border-radius: 7px;  
        font-family: Arial, Helvetica, sans-serif;
        background-color: aliceblue; 
    }
  }
  
body p {
    font-size: 150%;
}
.headings{
    margin-left: 42%;
}
.images img{
    width: 200%;
    border-radius: 7px;
}
.images p{
    font-size: 110%;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 25%;
}
.nav-bar li{
    display:inline-block;
    list-style-type: none;
    padding: 8px 10px;
    font-size: 130%;
}
.nav-bar-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFD600;
    padding: 20px;
}
.nav-bar-2 button{
    border-radius: 7px;

}
.nav-bar-2 input{
    border-radius: 7px;
    padding: 0px 12px;
}
.my-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: -12%; */
}
.brickhouse-image{
    width: 65%;
    margin-top: 20%;
}
.select button{
    padding: 10px;
    margin-left: 10px ;
    /* background-color: #FFD600; */
    
}
.input-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-buttons button{
    border-color: #FFD600;
    background-color: white;
}
.selectb{
    background-color: #FFD600;
    width: 73%;
    color: white;
    border-color: #FFD600;
    border-radius: 9px;
    
}
.select input{
    padding: 10px 20px;
    border-radius: 9px;
}
.select{
    margin-right: 15%;
    margin-top: 4%;
    padding: 30px;
    border: solid #252525;
    border-radius: 20px;
}
#slide{
    background-color: #FFD600;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -9%;

}
.age-buttons{
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.age-buttons button{
    /* margin-left:  3%; */
    /* padding: 12px; */
}
.my-button{
    margin-left: 10%;
    /* background-color: #FFD600; */
}
.series-images{
    /* width: 12%; */
    
}
.series-div img{
    width: 30%
}
.ideas{
    width: 50%;
}
.starwars{
    margin-bottom: -7%;
}
.select-series input{
    padding: 20px;
    margin-bottom: -50%;
}
.select-series button{
    background-color: #FFD600;
    padding: 12px;
    /* margin-right: 10%; */
    margin-top: -44%;
    border-radius: 9px;
    /* float: left;  */
    margin-bottom: 30%;
    /* float: right; */
    margin-right: 0%;
}
.select button{
    border-radius: 9px;
}
.more-series-button button{
    margin-left: 35%;
    padding: 20px;
    background-color: #FFD600;
    border-radius: 9px;
    color: white;
    width: 30%;
    border-color: #FFD600;

}
.age{
    margin-top: -28%;
    margin-left: 10%;
}
.series-div img {
    width: 30%;
    border-radius: 7px;
}
.recently-viewed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recently-viewed img{
    /* margin-left: 3%; */
}
.reefhome{
    padding: 85px 0px;
}
.discounts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.discounts img{
    width: 65%;
    border-radius: 7px;
}
.discount-offer{
    padding: 12px;
    background-color: #FFD600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input{
    margin-top: 3%;
}
.input input{
    border-radius: 7px;
    padding: 12px;
}
.input button{
    border-radius: 7px;
    padding: 12px;
    background-color: #E70062;
    margin-left: -24%;
}
.new img{

    margin-left: 10%;
}
.discount-footer{
    border-radius: 7px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div{
    background-color: #26004C;
    color: white;
    padding: 2px 15px;
    
}
.footer-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width:1200px) {
    
  
}



@media only screen and(max-width:700px) {
    body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    }
/* Mobile Responsive CSS */
    @media only screen and (max-width: 767px) {
    }

 /* Tablet Responsive CSS */
        @media only screen and (min-width: 768px) and (max-width: 991px) {
        }